/* Estilos gerais para o menu */
.menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    height: 100%;
    transition: transform 0.3s ease;
    background-color: white;
    transform: translateX(-100%); /* Ocultar o menu */
}

/* Estilos para o botão do menu */
.menu-toggle {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
    background-color: transparent;
    border: none;
    font-size: 30px;
    cursor: pointer;
}

/* Exibir o menu quando estiver aberto */
.menu.open {
    transform: translateX(0); /* Mostra o menu */
}

/* Exibir o menu em telas grandes */
@media (min-width: 768px) {
    .menu {
        transform: translateX(0);
    }

    .menu-toggle {
        display: none;
    }
}
